/**************************************/
/* HEADER */
/**************************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #052c45;

  /* Need stick on top */
  height: 9.6rem;
  padding: 0 7.2rem;
}

.logo {
  width: 9.2rem;
  height: auto;
}
