/**************************************/
/* RWD */
/**************************************/

/* Below 1344px
Small desktop */

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .section-testimonial {
    grid-template-columns: 1fr;
  }

  .testimonial-gallery {
    grid-template-columns: repeat(6, 1fr);
    height: 20rem;
    margin: 0 2.4rem;
    padding-bottom: 48rem;
  }

  .call-action-imgbox {
    transform: scale(1);
  }

  .call-action-imgbox:hover {
    transform: scale(1.03);
  }
}

/* Below 1200px
Landscape Tablet */

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .head {
    padding: 0 3.2rem;
  }

  main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .testimonial-container {
    padding: 9.6rem 3.2rem;
  }

  .testimonial-gallery {
    height: 16rem;
  }
}

/* Extra Below 1100px
 book section */
@media (max-width: 68.75em) {
  .book-content {
    min-height: 36rem;
  }
}

/* Below 944px
Tablet */

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .reader-container {
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .hero-img {
    width: 88%;
  }

  .feature-logos img {
    height: 6.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .pricing-plan-li span {
    font-size: 1.2rem;
  }

  .section-call-action {
    padding: 3.2rem;
  }

  /* call to action FORM */
  .section-call-action {
    padding: 4.8rem 0;
  }

  .call-action {
    grid-template-columns: 1fr;
    height: auto;
  }

  .call-action-textbox {
    padding: 3.2rem 4.8rem;
  }

  .call-action-textbox h2 {
    margin-bottom: 2.4rem;
  }

  .call-action-desc {
    font-size: 1.6rem;
    line-height: 1.8;
    margin-bottom: 2.4rem;
  }

  .call-action-imgbox {
    transform: scale(1);
    height: 48rem;
    object-fit: cover;
    border-radius: 0 0 0.7rem 0.7rem;
  }

  .call-action-imgbox:hover {
    transform: scale(1.02);
  }

  .call-action-form {
    grid-template-columns: 1fr;
    row-gap: 1.8rem;
  }

  /* book section */
  .section-book .grid--3-cols {
    grid-template-columns: 1fr 1fr;
  }

  .book-img {
    height: auto;
    aspect-ratio: 2 / 3;
  }

  .books-list {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .book-content {
    min-height: auto;
  }
}

/* Extra Below 850px
Pricing */

@media (max-width: 53.125em) {
  .section-pricing .grid--2-cols {
    grid-template-columns: 1fr;
    row-gap: 9.6rem;
  }

  .pricing-plan {
    width: 100%;
    max-width: 42rem;
    justify-self: center;
    margin-bottom: 4.8rem;
  }

  .pricing-plan--starter {
    justify-self: center;
  }

  .pricing-plan-ul {
    align-items: center;
  }

  .pricing-plan-li {
    margin-left: 0;
  }

  .btn-signup {
    width: 100%;
    max-width: 26rem;
  }
}

/* Extra Below 744px
Footer */

@media (max-width: 46.5em) {
  .section-footer {
    padding: 4.8rem 0;
    text-align: center;
  }

  .grid--footer {
    grid-template-columns: 1fr;
    row-gap: 3.2rem;
    justify-items: center;
  }

  .footer-logo-col {
    grid-row: 1;
    align-items: center;
  }

  .footer-contact-col {
    grid-row: 2;
    align-items: center;
  }

  .footer-contacts {
    align-items: center;
  }

  .footer-social-ul-links {
    justify-content: center;
  }

  .footer-nav-col {
    margin-bottom: 0;
  }

  .footer-nav-ul {
    align-items: center;
  }
}
