/**************************************/
/* SECTION - HOW */
/**************************************/

.section-how {
  /* background-color: #9c5114; */
  padding: 9.6rem 0;
}

.subheading-how {
  display: block;
  font-size: 1.8rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #eb822d;
  margin-bottom: 1.4rem;
  letter-spacing: 0.4rem;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 900;
  color: #eb822d;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 2.2rem;
  line-height: 1.8;
}

.step-img::before,
.step-img::after {
  content: "";
  display: block;
  position: absolute;
  top: 28%;
  left: 33%;
  transform: translate(-50%, -50%);
  border-radius: 0.7rem;
}

.step-img::before {
  width: 55%;
  height: 66%;
  z-index: -1;
  background-color: #eb822d;
}

.step-img::after {
  width: 66%;
  height: 77%;
  z-index: -2;
  background-color: #b4855f;
}

/* 課程的方法 */
/* .step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.step-img-box {
  position: relative;
}

/* 書頁效果 */
.step-img-box::before,
.step-img-box::after {
  content: "";
  position: absolute;
  width: 55%;
  height: 44rem;
  border-radius: 7px;
  z-index: -1;
  transition: all 0.8s ease;
}

.step-img-box::before {
  top: -2rem;
  left: -2rem;
  background-color: #e9c6aa;
  transform: rotate(-12deg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.step-img-box::after {
  top: -4rem;
  left: -4rem;
  background-color: #f9e8d9;
  transform: rotate(-24deg);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
}

/* 圖片靠右時，書頁也靠右 */
.step-img-box.img-box-right::before {
  left: auto;
  right: -1.2rem;
}

.step-img-box.img-box-right::after {
  left: auto;
  right: -2rem;
}

/* Hover 效果：書頁收合（旋轉歸正） */
.step-img-box:hover::before,
.step-img-box:hover::after {
  transform: rotate(0deg);
}

.step-img {
  width: 55%;
  height: 44rem;
  object-fit: cover;
  border-radius: 7px;
  position: relative;
  z-index: 1;
  transition: transform 0.6s ease;
  cursor: pointer;
}

/* Hover 效果：圖片放大 */
.step-img:hover {
  transform: scale(1.2);

  position: relative;
  z-index: 1;
}
