/**************************************/
/* SECTION - BOOK */
/**************************************/

.section-book {
  padding: 9.6rem 0;
  background-color: #032134;
}

.heading-secondary-book {
  color: #fff;
}

/**************************************/
/* BOOK CARD */
/**************************************/

.book-card {
  border-radius: 0.2rem;
  box-shadow: 0px 0px 10px 1px #023d62e0;

  /* affect rotateGlow animation */
  /*流動的尖銳度*/
  padding: 0.4rem;
  /* 定位 */
  position: relative;
  /* 影藏背後選轉的方塊 */
  overflow: hidden;
}

.book-card:hover::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    90deg,
    transparent,
    #ff9966c9,
    transparent,
    transparent,
    #47e8f0e6,
    transparent
  );
  animation: rotateGlow 5s infinite linear;
}

/**************************************/
/* BOOK IMAGE */
/**************************************/
.book-img {
  width: 100%;
  height: 48rem;
  object-fit: cover;
  border-radius: 0.4rem 0.4rem 0 0;

  /* 定位 沒有設定會顯示後方轉動的方塊 */
  position: relative;
}

@keyframes rotateGlow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**************************************/
/* BOOK CONTENT */
/**************************************/

.book-content {
  padding: 0.8rem 1.8rem 1.2rem;
  position: relative;
  z-index: 2;
  background-color: #fff;
  border-radius: 0 0 0.4rem 0.4rem;
}

.book-title {
  color: #052c45;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 2;
  margin-bottom: 1.2rem;
  text-transform: capitalize;
}

/**************************************/
/* TAG */
/**************************************/

.book-tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  border-radius: 7px;
  margin-bottom: 1.2rem;
}

.tag-orange {
  background-color: #eb822d;
  color: #fff;
}

.tag-blue {
  background-color: #00b8c1;
  color: #fff;
}

/**************************************/
/* BOOK CONTENT LIST */
/**************************************/
.book-ul {
  color: #333;
  list-style: none;
  font-size: 1.2rem;

  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.book-li {
  display: flex;
  align-items: center;
}

.book-icon {
  font-size: 2rem;
  color: #eb822d;
  margin-right: 0.8rem;
}

.book-li span {
  font-size: 1.4rem;
  line-height: 1.4;
  font-weight: 700;
}

/**************************************/
/* BOOKS LIST */
/**************************************/

.books-list-title {
  color: #eee;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin-bottom: 2.4rem;

  display: flex;
  align-items: center;
}

.books-list-title i {
  font-size: 4.8rem;
  color: #eb822d;
  margin-right: 1.8rem;
}

.books-ul {
  list-style: none;
  color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
}

.books-li {
  font-size: 2rem;
  line-height: 3.6rem;
  font-weight: 300;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease;
}

.books-li-icon {
  font-size: 2rem;
  color: #eb822d;
}

.books-li::after {
  content: "";
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  width: 0;
  height: 0.2rem;
  background: linear-gradient(
    90deg,
    transparent,
    #00b8c1,
    transparent,
    #eb822d,
    transparent
  );
  background-size: 200% 100%;
  transition: width 0.5s ease;
}

.books-li:hover::after {
  width: 100%;
  animation: gradientFlow 3.3s linear infinite;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 0%;
  }
}

/**************************************/
/* SECTION - LINK ALL BOOKS */
/**************************************/

.section-all-books {
  text-align: center;
}

.link-all-books:link,
.link-all-books:visited {
  width: 18rem;
  height: 2.4rem;
  color: #ffe0c6;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.1rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  position: relative;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0.7;
}

.link-all-books::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0.8rem;
  width: 0;
  height: 100%;

  /* 隱藏底線動畫 */
  visibility: hidden;
  /* hover visible 後的顏色 */
  border-bottom: 0.3rem double currentColor;
  /* opacity: 1; */
  transition: all 0.3s linear;
}

/* 箭頭持續動畫 */
.link-all-books .link-all-books-icon {
  font-size: 2.4rem;
  transform: translateX(0%);
  transition: all 0.3s linear;
  animation: attention 1.1s linear infinite;
}

.link-all-books:hover::after {
  /* 顯示底線動畫 */
  visibility: visible;
  opacity: 0.6;
  width: 85%;
}

.link-all-books:hover,
.link-all-books:active {
  opacity: 1;
  color: #ffaa64;
  letter-spacing: 0.2rem;
  transform: translateY(-0.2rem) scale(1.05);
}

/* 箭頭停止動畫 */
.link-all-books:hover .link-all-books-icon {
  transform: translateX(22%);
  animation: none;
}

@keyframes attention {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}
